.about-container{

    .about-wrapper{

        background-color: #100F0F;
        color: white;
        margin: auto;
        width: 70%;
        height: 100%;
        padding: 1rem;
        font-family: 'Inter', sans-serif;
        margin-top: -1rem;

        .about-title{
            
            font-family: 'Roboto Mono', monospace
           }
        .about-me-wraper{
            padding: 1rem;
            text-align: justify;
            font-family: 'Inter', sans-serif;

            .personality{
                display: block;      
                div{
                    background-color: #ffffff;  
                    text-align: center;
                    color: black;
                    border-top-left-radius: 0.5rem;
                    border-bottom-right-radius: 0.5rem;
                    padding: 0.5rem 0px;
               
                    h4{
                        text-shadow: 2px 2px 5px #8a8080;
                        font-family: 'Roboto Mono', monospace;
                        margin: 0.5rem ; 

                    }
                    p{
                        margin: 0.5rem;
                        font-weight: 600;
                    }
                }
           
            }
           }
        .hard-skills-wrapper{
            padding: 1rem;
            text-align: justify;
            font-family: 'Inter', sans-serif;

            .commits-container{
                display: block;

                img{
                    display: flex;
                    margin: auto;
                    width: 95%;
                    border-radius: 5px;
                }
                div{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    a{
                        color: white;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .soft-skills-wrapper{
            padding: 1rem;
            text-align: justify;
            font-family: 'Inter', sans-serif;
        }

           
    }



}


@media only screen and (min-width: 600px) {
    .about-container{
      .about-wrapper{
        .about-me-wraper{
            .personality{
                display: flex;
               justify-content: space-between; 

                div{
                    background-color: #fb976c;
                    padding: 0px 1rem;
                    h4{
                        text-shadow: 2px 2px 5px #e36464;
                    }
                }
           
            }
           }        
     }
    }
}