.HomePage-container{
  display: block;
  padding: 2rem;
  min-height: 38rem;

  .img-wrapper{

    height: 20rem;

    img{
        height: 20rem;
        border-radius: 1rem;
        position: relative;
    
      }
  }

   .text{
    width: 100%;
    font-size: medium;
    padding: 0.5rem;
    h2{ 
        
        font-family: 'Dancing Script', cursive;
        color: white;
        margin-bottom: 0px;

    }

    .top-text{
        font-family: 'Roboto Mono', monospace;
        color: white;
        line-height: 3;
        margin-top: 0px;
    }
    p{
       
        font-family: 'Roboto Mono', monospace;
        color: white;
    }
   }
  

}
@media only screen and (min-width: 500px) {

    .HomePage-container{
        padding: 3rem 6em; 
        min-height: 28rem;   

        .img-wrapper{

            height: 16rem;
        
            img{
                height: 16rem;
                border-radius: 1rem;
                position: relative;
            
              }
          }
      }

    

}
@media only screen and (min-width: 600px) {

    .HomePage-container{
        padding: 2rem 10rem;   
        min-height: 30rem;

    }

}

@media only screen and (min-width: 800px) {
    .HomePage-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        padding-bottom: 2rem;
        width: 70%;
        margin: auto;

      
        .img-wrapper{
      
          height: 20rem;
      
          img{
              height: 20rem;
              position: relative;
 
          
            }
        }
      
         .text{
          width: 100%;
          font-size: larger;
          padding: 0.5rem;
          position: relative;
          left: 4rem;
         }
        
      
      }
}
@media only screen and (min-width: 1000px) {
    .HomePage-container{
        height: 32rem;
        padding: 0rem;
        padding-bottom: 2rem;
      .img-wrapper{
          height: 24rem;
          img{
              height: 24rem;
              position: relative;      
            }
        }
      
         .text{
          font-size: 2rem;
         }
        
      
      }
}
@media only screen and (min-width: 1400px) {
    .HomePage-container{
        height: 35rem;
        padding: 2rem;
        padding-bottom: 5rem;
      .img-wrapper{
          height: 26rem;
          img{
              height: 26rem;
              position: relative;      
            }
        }
      
         .text{
          font-size: 2rem;
         }
        
      
      }
}